<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <img src="{{ site.baseurl }}/assets/images/cc.jpg" width="80px" height="80px" />
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
          <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
          <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p><br>
        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
        <script
          type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'X8X031K5P'); kofiwidget2.draw();</script>
        <br>
        <!-- Histats.com  (div with counter) -->
        <div id="histats_counter"></div>
        <!-- Histats.com  START  (aync)-->
        <script type="text/javascript">var _Hasync = _Hasync || [];
          _Hasync.push(['Histats.start', '1,4464773,4,16,150,30,00011111']);
          _Hasync.push(['Histats.fasi', '1']);
          _Hasync.push(['Histats.track_hits', '']);
          (function () {
            var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
            hs.src = ('//s10.histats.com/js15_as.js');
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
          })();</script>
        <noscript><a href="/" target="_blank"><img src="//sstatic1.histats.com/0.gif?4464773&101" alt=""
              border="0"></a></noscript>
        <!-- Histats.com  END  -->
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>
    <div align="center" class="copyright">
      <a href="{{ site.baseurl }}/">kikuKeii</a>&copy; Copyright 2020<br>
    </div>
  </div>

</footer>