<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper" style="background-color: #fff;">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/bootstrap/js/jquery.slim.min.js"></script>
    <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/qubi.js"></script>
    
  </body>

</html>
